<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Menünün Devamı
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#"></a></li>
    <li >

    <a class="dropdown-item " asp-area="" asp-controller="MVC08Partial" asp-action="Index">MVC Partial</a>
</li>

<li >

    <a class=" dropdown-item " asp-area="" asp-controller="MVC09ViewResults" asp-action="Index">MVC View Result</a>
</li>
<li>

    <a class="dropdown-item " asp-area="" asp-controller="MVC10FileUpload" asp-action="Index">MVC File Upload</a>
</li>

 
  </ul>
</div>


