
@{
    ViewBag.Title = "MVC15 Filters Using";
   
}

<h2>MVC de uygulamaya yapılıcak istekler için hazır filtreler bulunmaktadır. <br>
Bununla beraber kendi filtrelerimizi de oluşturabilmekteyiz.</h2>

<a href="/MVC15FiltersUsing/FiltreKullanimi"> Filtre Kullanımı</a>



<h2>Authorize Filter</h2>

<p class="alert alert-danger">
    Admin paneli görei gören ekranlarda crud işlemleri yapılıyorsa güvenliği sağlamak için kullanılan bir .net bileşenidir.a
    <br>
    Korumaya almak istediğimiz action veya controllen ın üzerine ekleyerek kullanabiliriz.
    <br>
    Ayrıca Program.cs dosyasına authentication kodlarını eklememiz gerekir.
</p>

<a href="/MVC15FiltersUsing/UyeGuncelle/1004">Uye Guncelle</a>