@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET MVC Eğitimi</h1>
    <p> <a href=""></a>.</p>
</div>
<p>M: Model = Veritabanıyla çalışan uygulamalar yaptığımızzda kullandığımız Ürün, Kategori , Marka  vb gibi class dosyalarımızı eklediğimiz klasördür.</p>
<p>V : Views = Web uygulamalarının ekranları Views klasörü altında bulunur.</p>
<p>C : Controllers = Uygulamamıza gelen sayfa açma isteklerini karşılayıp ilgili ekran varsa kullanıcıya gösteren , veritabanı kullanan uygulamalarda  işlemlerini yapabilen sınıfların olduğu klasördür.</p>

<p> Yeni bir MVC projesi oluşturduğumuzda 1 home Controllers oluşur.
</p>
<h3>Bir Controllers da varsayılan sayfa Indexdir</h3>
<h2>Projeye Yeni Controller Ekleme</h2>
<p> Projedeki Controllers klasörüne sağ tık > add > controller > Empty > add menüsünden vereceğimiz isimle yeni bir controller ekleyebiliriz. </p>
<p class="txt text-danger"> Dikkat! Yeni Controller eklerken adının sonunda mutlaka controller yazmalıdır yoksa MVC açamaz! <br>
Örnek : UrunlerimizController.cs şeklinde  olmalıdır isim.</p>
<h2>Projeye View ekleme</h2>
<p>Controller ı oluşturduktan sonra aynı isimle View Klasöründe 1 klasör oluşturmamız gerekmekte. Bunu manuel de ekleyebiliriz. Visual Studioda controller içinde ki action metoduna sağ tıklayıp add view diyerek de oluşturmasını sağlayabiliriz.</p>

<div> Örnek : Controllers a AnasayfaController eklediysek views klasöründe Anasayfa adında 1 klasör olmalıdır. BU Klasöre sağ tıklayıp add view diyerek Index.cshtml dosya adıyla ekleceğimiz dosya içerisine yazdığımız içerikler uygulamayı calıstırdıktan sonra tarayıcı adres cubuğuna localhost... /Anasafya şeklinde yazdığımızda gösterilecektir.</div>