@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET MVC Eğitimi</h1>
    <p> <a href=""></a>.</p>
</div>
<p>M: Model = Veritabanıyla çalışan uygulamalar yaptığımızzda kullandığımız Ürün, Kategori , Marka  vb gibi class dosyalarımızı eklediğimiz klasördür.</p>
<p>V : Views = Web uygulamalarının ekranları Views klasörü altında bulunur.</p>
<p>C : Controllers = Uygulamamıza gelen sayfa açma isteklerini karşılayıp ilgili ekran varsa kullanıcıya gösteren , veritabanı kullanan uygulamalarda  işlemlerini yapabilen sınıfların olduğu klasördür.</p>

<p> Yeni bir MVC projesi oluşturduğumuzda 1 home Controllers oluşur.
</p>
<h3></h3>