@{
    ViewBag.Title = " MVC View Result Çeşitleri";
}
<h2>MVC View Results Çeşitleri</h2>

<h4>Farklı View Döndürme</h4>
<a asp-action ="FarkliViewDondur">View Result</a>


<h4>Redirect Result : Sayfayı bir url adresine yönlendirme için kullanılır.</h4>

El Klasiko : @Html.ActionLink("Redirect Result" , "Yonlendir")
<br>
Modern WarFire : <a asp-action ="Yonlendir">Redirect Result</a>
<br>

<a href="/MVC09ViewResultsController/Yonlendir?kelime=telefon" >Parametreli Redirect Result</a>

<h4>RedirectToAction Result : Sayfayı başka bir actiona yönlendirme için kullanılır.</h4>

@Html.ActionLink("RedirectToAction Result", "ActionaYonlendir")
<br>
<a asp-action="ActionaYonlendir">RedirectToAction Result</a>
<h4>RedirectToRouteResult Result : Sayfayı başka bir route a yönlendirme için kullanılır.</h4>

@* @Html.ActionLink("RedirectToRouteResult Result", "RouteYonlendir") *@
<a asp-action="RouteYonlendir">RedirectToRouteResult Result</a>

<hr>

<h4 class="alert alert-info">
    PartialViewResult : Actiona gelen istek sonucu geriye bir PartiaView döndürmek için kullanılır.
</h4>
<partial name = "_KategorilerPartial"></partial>
<hr>
<a asp-action="KategorilerGetirPartial">Kategorileri Getir Partial</a>
<hr>
<h4> JsonResult : Controller daki bir actiona gelen istek sonucu geriye bir json türünde veri döndürebiliriz.</h4>
<a asp-action="JsonDondur">JsonResult</a>

<h4>Content Result : controller daki bir actiona gelen istek sonucu geriye bir xml türünde veri döndürebiliriz.</h4>
<a asp-action="XmlContentResult">Xml Content Result</a>