@{
    ViewData["Title"] = "MVC de Model Validation Kullanımı";
}
<h1> MVC de Model Validation Kullanımı</h1>

<p>
    Model Validation kullanıcıdan alınacak verilerin veri tiplerini doğrulamak için kullanılır.
</p>
<p>
    Mesela Kullanıcıdan Email bilgisini istedik, O bize e mail formatında uymayan düz yazı gönderirse bu validationa takılacak ve geçersiz değer olarak kullanıcıya mesaj gösterilecektir.
</p>

<ul>
    <li class="nav - item">
<a class = " nav-link text dark" asp-action="YeniUye">Yeni Üye Sayfası</a>
     </li>
</ul>